<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Examination_system</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Examination_system.styles.css" asp-append-version="true" />

    <link href="./assets/img/favicon.png" rel="icon">
    <link href="./assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="./assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet">

</head>
<body>



    <div class="row justify-content-center">
           
    <nav class="navbar navbar-dark bg-dark p-2 px-5 mx-5">
        <a class="navbar-brand text-danger mx-5" asp-area="" asp-controller="Login" asp-action="Index">
            <img src="/assets/img/images-removebg-preview (1).png" width="50" height="60" class="d-inline-block align-top mx-5" alt="">
         
        </a>
    </nav>


    </div>
    
           

                        @RenderBody()
                   
           


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Examination_system <a>Team 5 </a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
