<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LearningSystem.styles.css" asp-append-version="true" />
</head>
<body style="margin-bottom: 0px;">


    <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
        <a class="navbar-brand text-danger mx-5" asp-area="" asp-controller="Login" asp-action="Index">
                <img src="/assets/img/images-removebg-preview (1).png" width="50" height="50" class="d-inline-block align-top mx-5" alt="">

            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

            @RenderBody()
  

    <footer class="footer bg-dark  fixed-bottom py-3">
        <div class="container text-light">
            <span class="text-danger"> &copy; 2023</span>  - Examination_system <span class="text-danger">Team 5 </span>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
